

.todos {

    padding: 2rem;
width: 700px;

.inputTodo{
    margin-bottom: 1rem;
}


    .addBtn{

        width: 100px;
        margin-right: 1rem;
    }
    .backBtn{

        width: 100px;
    }
}

